@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client:</h4>

@using (Html.BeginForm())
{

  <span>Name: </span>
  @Html.TextBoxFor(model => model.ClientName, new {placeholder = "Enter Name", required="required"})<br />

  <span>Notes: </span>
  @Html.TextBoxFor(model => model.ClientDescription, new {placeholder = "Enter Description", required="required"})<br />

  <span>Stylist: </span>
  @Html.DropDownList("StylistId")<br />

  <input type="submit" value="Add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>