@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.ClientName)<h3>
<h3>Notes: @Html.DisplayFor(model => model.ClientDescription)</h3>
<h3>Current Stylist: @Html.DisplayFor(model => model.Stylist.StylistName)</h3>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to all Clients", "Index")</p>