@* Displays the selected Stylist and Clients under that Stylist.
Make options to edit or delete the stylist.
Something to go back to list of all stylists? *@
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.StylistName)<h3>
<h3>Specialty: @Html.DisplayFor(model => model.StylistSpecialty)</h3>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>